<h1>Une demande de réinitialisation a été demandé pour <%= user_info(@user) %></h1>

<p>
  Vous pouvez modifier votre mot de passe en cliquant sur le lien suivant : <a href="<%= @url %>">Réinitialiser</a>
</p>

<p>
  Attention, le lien ne sera disponible que 30 minutes après la réception de ce mail
</p>
