<h1>Bienvenue, <%= user_info(@user) %></h1>

<p>
  Vous pouvez désormais vous connecter sur l'application Hotel Tycoon avec l'identifiant : <strong><%= @user.username %></strong>.
</p>

<p>
  Cordialement,
  La direction.
</p>
